<router-outlet></router-outlet>
<ngx-spinner name="ball-scale-multiple" color="#f4696b" size="medium" type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner name="square-jelly-box" type="square-jelly-box"></ngx-spinner>
<ngx-spinner name="ball-spin-fade" type="ball-spin-fade"></ngx-spinner>
<ngx-spinner name="pulse" color="#f4696b" size="medium"
  template="<img src='assets/common/loadTemplate/Pulse.gif' />"></ngx-spinner>
<ngx-spinner name="search" color="#f4696b" size="medium"
  template="<img src='assets/common/loadTemplate/search.gif' />"></ngx-spinner>